<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0c608f6c6b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/viewReportCSS.css">
    <title> Monthly Report </title>
</head>
<body>

    <%- include('header');%>


    <div id="mainDiv">
        <!-- <dir>
            <a href="http://localhost:3000/habitPage"> Habit Add </a>
        </dir> -->
        <a href="https://habit-tracker-m8g0.onrender.com/habitPage" style="text-decoration: none;">
            <button class="animated-button">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
                </svg>
                <span class="linkText">  Habit Add  </span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
                </svg>
            </button>
        </a>


        <h1 id="title"> July 2024 </h1>
        <div id="tableDiv">
            <table>
                <tr id="days">
                    <th> </th>
                </tr>
    
                <% habits.forEach((habit) => { %>
                    <tr id="<%- habit.id %>">
                        <td>
                            <%= habit.habitNames %>
                        </td>
                        
                    </tr>
                <% }) %>
    
            </table>
        </div>
    </div>

    <%- include('footer');%>

    <script>
        const habitsData = <%- JSON.stringify(habits)  %>
    </script>
    <script src="/JavaScript/viewReport.js"></script>

</body>
</html>
